<form>

  <div class="input-field">
    <input id="title" type="text">
    <label for="title">Title</label>
  </div>

  <div class="input-field">
    <input type="text" class="datepicker" id="date">
    <label for="date">Choose a Date</label>
  </div>

  <app-editor>

  </app-editor>
  <button>Click me!</button>
</form>


<!--<div style="padding-top: 60px;">
  <div class="form-group">
    <mat-form-field style="width:70%">
      <input matInput placeholder="Title">
    </mat-form-field>
  </div>

  <div class="form-group" style="width:70%">
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-checkbox>Check me!</mat-checkbox>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <app-editor>

  </app-editor>

  <button mat-button style="float:right">Click me!</button>


</div> -->
