infra/mongo_latest_data/WiredTiger.lock
infra/mongo_latest_data/WiredTiger
infra/mongo_latest_data/WiredTiger.turtle
infra/mongo_latest_data/WiredTiger.wt
infra/mongo_latest_data/WiredTiger.lock
infra/mongo_latest_data/WiredTiger
infra/mongo_data/journal/WiredTigerPreplog.0000000003
infra/mongo_data/journal/WiredTigerPreplog.0000000004
infra/mongo_data/journal/WiredTigerPreplog.0000000002
infra/mongo_data/journal/WiredTigerPreplog.0000000001
infra/mongo_data/journal/WiredTigerLog.0000000042
infra/mongo_data/journal/WiredTigerLog.0000000029
infra/mongo_latest_data/_mdb_catalog.wt
infra/mongo_latest_data/collection-2-8790958875946289088.wt
infra/mongo_data/journal/WiredTigerLog.0000000029
infra/mongo_data/journal/WiredTigerLog.0000000042
infra/mongo_data/journal/WiredTigerPreplog.0000000001
infra/mongo_data/journal/WiredTigerPreplog.0000000003
infra/mongo_data/journal/WiredTigerPreplog.0000000004
infra/mongo_latest_data/WiredTiger
infra/mongo_latest_data/WiredTiger.lock
infra/mongo_latest_data/WiredTiger.turtle
infra/mongo_latest_data/WiredTiger.wt
infra/mongo_latest_data/WiredTigerLAS.wt
infra/mongo_latest_data/_mdb_catalog.wt
infra/mongo_latest_data/collection-0--6599836659280966201.wt
infra/mongo_latest_data/collection-0-2901583834111313436.wt
infra/mongo_latest_data/collection-0-8790958875946289088.wt
infra/mongo_latest_data/collection-2--6599836659280966201.wt
infra/mongo_latest_data/collection-4--6599836659280966201.wt
infra/mongo_latest_data/index-1--6599836659280966201.wt
infra/mongo_latest_data/index-1-2901583834111313436.wt
infra/mongo_latest_data/index-1-8790958875946289088.wt
infra/mongo_latest_data/index-2-2901583834111313436.wt
infra/mongo_latest_data/index-3--6599836659280966201.wt
infra/mongo_latest_data/index-3-2901583834111313436.wt
infra/mongo_latest_data/index-3-8790958875946289088.wt
infra/mongo_latest_data/index-5--6599836659280966201.wt
infra/mongo_latest_data/index-6--6599836659280966201.wt
infra/mongo_latest_data/mongod.lock
infra/mongo_latest_data/sizeStorer.wt
infra/mongo_latest_data/storage.bson
infra/mongo_data/WiredTiger.turtle
infra/mongo_data/WiredTiger.wt
infra/mongo_data/WiredTigerLAS.wt
infra/mongo_data/_mdb_catalog.wt
infra/mongo_data/collection-0-8968371997926518585.wt
infra/mongo_data/collection-2-8968371997926518585.wt
infra/mongo_data/mongod.lock
infra/mongo_data/sizeStorer.wt
