<ul id="admin-nav" class="side-nav fixed  white" style="margin-top: 45px;">

  <ul class="collapsible" data-coroutesllapsible="accordion" *ngIf="routes && routes.length > 0">
    <li *ngFor="let item of routes" [ngClass]="{'active': item.isActive}" (click)="setActiveRoute(item.name)">
      <div class="collapsible-header waves-effect waves-light">
        <a>{{item.description}}</a>
        <i class="material-icons" *ngIf="!item.isActive">arrow_drop_down</i>
        <i class="material-icons" *ngIf="item.isActive">arrow_drop_up</i>
      </div>
      <div class="collapsible-body">
        <ul *ngIf="item.childRoutes && item.childRoutes.length > 0">
          <li *ngFor="let chr of item.childRoutes" (click)="setActiveRoute(chr.name)">
            <a class="waves-effect" [ngClass]="{ 'active z-depth-3': chr.isActive}" routerLink={{chr.path}}>
              {{chr.description}}</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</ul>
