.side-nav>ul.collapsible>li>div.active {
  background-color: rgb(189, 190, 196);
}

.side-nav .collapsible-body>ul:not(.collapsible)>li.active,
.side-nav.fixed .collapsible-body>ul>li>a {
  // text-align: left;
  .active {
    background-color: #869FF1;
  }
}

.side-nav .collapsible-body>ul:not(.collapsible)>li.active,
.side-nav.fixed .collapsible-body>ul:not(.collapsible)>li>a {
  width: 90%;
  margin-left: 15px;
  color: rgb(124, 121, 121);
}
