<mat-toolbar color="primary" class="toolbar">
  <span>MyMaterial</span>
  <span class="example-spacer"></span>
  <button mat-button (click)="goAdmin()">Admin</button>
  <button mat-button (click)="goHome()">Home</button>
  <button mat-button (click)="goCourses()">Courses</button>
  <button mat-button (click)="goTutorials()">tutorials</button>
  <button mat-button (click)="goLogin()">login</button>
  <button mat-button (click)="goSearch()">
    <span class="glyphicon glyphicon-search"></span>
  </button>
</mat-toolbar>
